a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
  margin: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

a:hover {
  color: whitesmoke;
}

.toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    width: auto;
  }
  #home{
      padding-right: 5px;
  }

  .spacer {
    flex: 1;
  }