<header>
  <div class="toolbar" role="banner">

  <a appHighlight routerLink="/">
    <mat-icon aria-hidden="false" aria-label="home icon" id="home">home</mat-icon>
  </a>

  <a appHighlight routerLink="/">
    Home
  </a>

 <div class="spacer"></div>
    <a appHighlight aria-label="Rob on LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/robertedwardtrostle/" title="LinkedIn">LinkedIn</a>
    <a appHighlight aria-label="Rob on Github" target="_blank" rel="noopener" href="https://github.com/robtrostle?tab=repositories" title="GitHub">GitHub</a>
    <a appHighlight aria-label="Contact Rob" routerLink="/contact" >Contact</a>
 </div>
</header>
