<div class="main">
    
    <div>
        <mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
        <button mat-raised-button (click)="loadData()">Spinner</button>
        <button appHighlight mat-stroked-button>Stroked</button>
        <button appHighlight color="warn" mat-fab routerLink="/playground-page-two">Page 2</button>
        <a appHighlight aria-label="Playground page 2" routerLink="/playground-page-two" >
         Playground page 2
        </a>
    </div>


    <div>
        <mat-menu #appMenu="matMenu" xPosition="after">
            <button  mat-menu-item routerLink="/">Go Home</button>
            <button  mat-menu-item [matMenuTriggerFor]="subMenu">Sub Menu</button>
        </mat-menu>
        <button mat-flat-button 
        [matMenuTriggerFor]="appMenu"
        color="primary">Open Menu</button>

        <mat-menu #subMenu="matMenu">
            <button  mat-menu-item>Angular</button>
            <button  mat-menu-item>React</button>
            <button  mat-menu-item>Vue</button>
        </mat-menu>
        
        <button color="accent" mat-fab>Accent</button>
        <button color="warn" mat-raised-button>Warn!</button>
    </div>

    <div>
        <mat-icon>paid</mat-icon>
        <mat-icon color="primary">thumb_up</mat-icon>
        <mat-icon color="accent">lightbulb</mat-icon>
    </div>

    <div class="badges">
        <span matBadge="17" 
        matBadgeOverlap="false" 
        matBadgePosition="below before" 
        matBadgeSize="small"
        >Notifications</span>
    </div>

    <div class="badges">
        <span [matBadge]="notifications" 
        matBadgeOverlap="false" 
        matBadgeSize="small" 
        matBadgeColor="warn"
        [matBadgeHidden]="notifications < 1"
        >Notifications</span>
    </div>

    <mat-progress-spinner diameter="25" value="70"></mat-progress-spinner>
    <mat-spinner color="accent" diameter="40"></mat-spinner>
    <mat-spinner 
    *ngIf="showSpinner"
    diameter="150"></mat-spinner>
    

    
    <mat-sidenav-container>
        <mat-sidenav
        #sidenav
        [(opened)]="opened"
        mode="side">
        Peakaboo!
        <mat-nav-list dense>
            <a mat-list-item routerLink="/">Home</a>
            <a mat-list-item routerLink="/contact">Contact</a>
            <a mat-list-item routerLink="/">Home yet again</a>
        </mat-nav-list>
    </mat-sidenav>
        <mat-sidenav-content>
            <button mat-raised-button (click)="sidenav.open()">Open</button>
            <button mat-raised-button (click)="sidenav.close()">Close</button>
            <button mat-fab color="accent" (click)="sidenav.toggle()">Toggle</button>
        </mat-sidenav-content>
    </mat-sidenav-container>

    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h1 matLine>List</h1>
            <p matLine>Line 1</p>
            <p matLine>Line 2</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon matListIcon>star</mat-icon>
            <h3 matLine>List</h3>
            <p matLine>Line 2</p>
        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon>folder</mat-icon>
            <h3 matLine>List</h3>
            <p matLine>Line 3</p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon matListIcon>laptop</mat-icon>
            <h3 matLine>List</h3>
            <p matLine>Line 4</p>
        </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>

    <mat-grid-list cols="2" rowHeight="6:1" gutterSize=".75rem">
        <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile>
        <mat-grid-tile>Tile 2</mat-grid-tile>
        <mat-grid-tile>Tile 3</mat-grid-tile>
    </mat-grid-list>

    <mat-accordion multi="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Expansion Panel</mat-panel-title>
            <mat-panel-description>
                A collapsible panel to store content
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the panel conent. We can add whatever we want! Adding two panels together
            is an accordion.
        </p>
        <mat-action-row>
            <button color="primary" mat-raised-button>Open</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Angular Material</mat-panel-title>
            <mat-panel-description>
                A collapsible panel to store content
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This playground was made with Angular Material. The first panel collapses automatically in an
            accordion. Although you can set it to stay open like this one.
        </p>
        <mat-action-row>
            <button color="primary" mat-raised-button>Open</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
</div>
