.main {
    padding:.5rem;
    width: 100%;
    height: auto;
    background:rgba(250, 247, 247, 0.5);
}
a {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

mat-sidenav-container {
    height: 15%;
    background-color: chartreuse;
}

mat-side-nav, mat-sidenav-content {
    padding: 16px;
    background-color: blueviolet;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;
}

button {
margin: 1rem 1rem 1rem 1rem;
}
mat-icon{
    margin: 1rem;
    color:rgb(2, 55, 55);
}

.badges{
    margin:3rem;
}

mat-grid-tile{
    background-color: lightblue;
}

mat-expansion-panel{
    background-color: beige;
}