.hidden {
	display: none
}
.visible {
	display: block
}
.center-text {
	text-align: center
}

form.contact {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
}
input,
button {
	margin-bottom: 10px;
}
button {
	margin-top: 10px;
	background-color: rgb(74, 192, 231);
	color: black;
	border: 1px solid black;
	padding: 4px 16px;
	transition: 0.4s;
	width: 100%;
}
button:hover:enabled{
	color: rgb(62, 3, 3);
	background-color: rgb(150, 233, 26);
}

body{
	background-color: rgb(176, 171, 171);
}

.card{
	padding: 20px;
	background-color: rgb(176, 171, 171);
	max-width: 75vw;
	display: flex;
	margin: 0 auto;
	border: 0px;
}

.col{
	margin: auto;
    width: 20%;
	font-weight: bold;
}

.card-body{
	background-color: rgb(176, 171, 171);
	text-align: center;
}








