
<body>

  <div class="container">

    <form class="contact" align="center" [formGroup]="form" method="post" >

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput matInput [formControl]="name" required>
      </mat-form-field>
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      Please leave a message
      <textarea [formControl]="message" maxlength="256" placeholder="I'm interested in..." required></textarea>
      <button mat-raised-button (click)="onSubmit()" [disabled]="isLoading" class="submit" type="submit">Submit</button>
      <input [formControl]="honeypot" class="hidden" type="text" />
      <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
        <span style=font-size:20px;>{{responseMessage}}</span>
      </div>
    </form><br>
    <div class="col">You can email me directly at robtrostle@yahoo.com</div>
  </div>
</body>