


  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    position: absolute;
    bottom: 0;
  }

  footer a {
    align-content: center;
    display: flex;
    align-items: center;
    color: blue;
    font-size: larger;
    align-self: center;
  }
  


