
<mat-card-content>
<div class="content" role="main">
    <p class="hello">Hello.</p>
      <mat-card-content class="hello">
      I'm </mat-card-content>
      <mat-card-content class="hello">Rob <br><br><br></mat-card-content> 
    
      <span class="intro">A full stack developer<br>
      Check out some of my projects below</span>
</div>
</mat-card-content>
  
  <mat-grid-list  gutterSize=10px cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a target="_blank" href="https://robtrostle.github.io/movie-vault/">
        <img src="assets/m-vault.gif" alt="Link to Movie Vault site" >
      </a>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <img src="https://imageio.forbes.com/blogs-images/startswithabang/files/2017/04/0-hyIRTtnKjt38mIgq-.jpg?format=jpg&width=1200" alt="">
    </mat-grid-tile>
  
    <mat-grid-tile>
      <a target="_blank" href="https://robtrostle.github.io/astronomy-picture-of-the-day/">
        <img src="assets/apod.gif" alt="Link to Astronomy Picture of the day site" >
      </a>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <img src="https://media-exp1.licdn.com/dms/image/C561BAQE71el7o3R8Jw/company-background_10000/0/1569100895203?e=2147483647&v=beta&t=_IinfqK6f9WgB-nEZ43wO8XAQL3gclr6uWMRE91fTH4" alt="">
    </mat-grid-tile>
  </mat-grid-list>
