

<div class="content" role="main">
    <p class="hello">Hello.<br><br><br><br>
      I'm Rob </p><br><br>
      <span class="intro">A full stack developer<br>
      Check out some of my projects below</span>
</div>
  
  <mat-grid-list  gutterSize=10px cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <a class="mvault" href="https://robtrostle.github.io/movie-vault/">
        <img src="../../assets/MVSS3.JPG" alt="Movie Vault Screen Shot" >
      </a>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <img src="https://imageio.forbes.com/blogs-images/startswithabang/files/2017/04/0-hyIRTtnKjt38mIgq-.jpg?format=jpg&width=1200" alt="">
    </mat-grid-tile>
  
    <mat-grid-tile>
      <img src="http://images5.fanpop.com/image/photos/30900000/beautiful-pic-different-beautiful-pictures-30958243-1600-1200.jpg" alt="">
    </mat-grid-tile>
  
    <mat-grid-tile>
      <img src="https://media-exp1.licdn.com/dms/image/C561BAQE71el7o3R8Jw/company-background_10000/0/1569100895203?e=2147483647&v=beta&t=_IinfqK6f9WgB-nEZ43wO8XAQL3gclr6uWMRE91fTH4" alt="">
    </mat-grid-tile>
  </mat-grid-list>
