
  .mat-grid-list{
      display: flex;
      background-color: black;
      width: auto;
      height: auto;
      bottom: 0px;
      position:relative;
      justify-content: center;
  }
  
  .card {
    background-color: rgb(209, 204, 204);
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    font-family: book;
}
.card-title{
  font-family: 'Pricedown';
  font-style: normal;
  font-weight: normal;
  color: rgb(247, 244, 244);
  src: local('pricedown'), url('https://github.com/infin1tyy/pricedown-font-web/blob/master/pricedown.otf') format('opentype');
}

  #card1{
    font-size: 350%;
  }
  #card2{
    font-size: 200%;
  }
  #card3{
    font-size: 200%;
  }

  .list-group-item{
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .bi{
    color:rgb(244, 211, 169);
  }

  h2{
    font-family: roboto;
    font-size: 150%;
  }

  h1{
    font-size: 300%;
    font-family: roboto;
  }

  img{
    width: 100%;
    height: auto;
  }

  .mat-grid-tile .mat-grid-tile-header{
    text-align: center;
    height: 28px;
    font-size: 130%;
    color: rgb(3, 222, 251);
    font-weight: 800;
    font-family: Lucida Console;
    background-color: transparent;
    align-items: top;
    justify-content: center;
    text-shadow: 2px 2px #111010;
  }

