  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Welcome.</h1>
      <h2 class="card-text">I'm Rob Trostle, a full stack developer.</h2>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="bi bi-bank"></i> I currently work for PNC Financial Services</li>
      <li class="list-group-item"><i class="bi bi-calendar-month"></i> I started as a full stack developer in March 2022</li>
      <li class="list-group-item"><i class="bi bi-sun-fill"></i> I am based in Jacksonville, FL</li>
    </ul>

    <div class="card-body">
      <div class="mat-title">Check out my projects!</div>
    </div>
  </div>
  
  <mat-grid-list gutterSize=".1rem"   cols="2" rowHeight="2:1">

    <mat-grid-tile>
      <mat-grid-tile-header>
        <span id="crypto">APOD</span>
      </mat-grid-tile-header>
      <a target="_blank" href="https://robtrostle.github.io/astronomy-picture-of-the-day/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKf-v8F-5mdcnh8hOKuOrIAvOrWQvvNBm1XpqKtHdMvY66YxnJf65ViME2YxFNAwLPq-0&usqp=CAU" alt="Link to Astronomy Picture of the day site" >
      </a>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>
        <span id="crypto">Movie Vault</span>
      </mat-grid-tile-header>
      <a target="_blank" href="https://robtrostle.github.io/movie-vault/">
        <img src="https://st4.depositphotos.com/21557188/23288/v/380/depositphotos_232884746-stock-illustration-movie-strip-play-symbol-circle.jpg?forcejpeg=true" alt="Link to Movie Vault site" >
      </a>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-grid-tile-header>
        <span id="crypto">Recipe Book</span>
      </mat-grid-tile-header>
      <a target="_blank" href="https://robtrostle.github.io/recipe-book">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq-gzq9Fw1CRbMx7ckFY93iDJwnw--XSiORQ&usqp=CAU" alt="Link to Recipe Book">
      </a>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-grid-tile-header>
        <span id="crypto">Crypto Watcher</span>
      </mat-grid-tile-header>
      <a target="_blank" href="https://oceans-four.github.io/crypto-watcher-ui/">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAeb3e8L6WkG3xhEPAU0rn4_V_V_JYUO7XlwLmXahkv3aP6e-UKYOcsJFtS6HLxTzfADM&usqp=CAU" alt="Link to Crypto Watcher">
      </a>
    </mat-grid-tile>
    
  </mat-grid-list>
